{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/style1.css">
{% endblock %}

{% block content %}
<body style="background-color: white; min-height: 100vh; width: 100%; display: flex; flex-direction: column;">
  <header>
    <h1 style="margin-left: 20px;">Coursera</h1>
    <nav class="menu">
        <ul style="margin-right: 20px;" class="menu-list">
            <li>Home</li>
            <li>Get Started</li>
            <li>About Us</li>
        </ul>
        <button>
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
        </button>
    </nav>
  </header>

  <section class="main">
    <section class="left">
        <p style="margin-left: 50px;" class="title">Welcome!</p>
        <p style="margin-left: 50px;" class="msg">You have successfully logged in.</p>
        <form id="logoutForm" action="/user/logout" method="POST">
            <button style="margin-left: 50px;" class="cta" type="submit">Log Out</button>
        </form>
    </section>

    <section style="margin-left: 50px;" class="right">
        <img src="/static/images/study.jpg" alt="Landing Image">
    </section>
  </section>

  <script>
    var menu = document.querySelector('.menu');
    var menuBtn = document.querySelector('.menu button');

    menuBtn.addEventListener('click', () => {
        menu.classList.toggle('opened');
    });
  </script>
</body>
{% endblock %}
