{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" href="/static/css/styles.css">
{% endblock %}
{% block content %}
  <div class="card-wrapper">
    <div class="card">
      <h1 class="center">Log In to Coursera</h1>

      <form name="login_form" action="/user/login" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" class="field" required>
        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>
        <p class="error error--hidden"></p>
      </form>
      
      <!-- Log in with Okta button -->
      <form action="/user/saml/login" method="GET">
        <input type="submit" value="Log in with Okta" class="btn">
      </form>
      
    </div>
  </div>
{% endblock %}
